.mainBannerWrapper {
  position: relative;

  .mainBannerImg {
    position: absolute;
    width: 100%;
    height: 650px;
    object-fit: cover;
    z-index: -1;
  }

  .mainBannerContent {
    width: 100%;
    height: 650px;
    padding-left: 240px;
    padding-top: 190px;
  }

  .mainHyperLink {
    position: absolute;
    left: 44px;
    top: 170px;
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
  }
}
