@import '../../../styles/variables.scss';

.mainBannerWrapper {
  position: relative;

  .mainBannerImgContainer {
    width: 100%;
    height: 650px;
    background-color: $mainImage;
  }

  .mainBannerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mainBannerContent {
    position: absolute;
    top: 0;
    width: 100%;
    height: 650px;
    padding-left: 180px;
    padding-top: 190px;
  }

  .mainHyperLink {
    position: absolute;
    left: 44px;
    top: 170px;
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
  }
}
