.mainHistoryWrapper {
  display: flex;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 150px;

  .mainHistory {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  .mainHistoryContent {
    display: flex;
    position: absolute;
    width: 100%;
    padding-left: 80px;
  }

  .mainHistoryVideo {
    width: 57%;
    margin: 0;
  }
}
