@import '../../../styles/mixins.scss';

.carouselIntro {
  @include column-flexbox(flex-end, flex-start);

  flex-shrink: 0;
  padding: 40px 40px 80px;
  width: 25vw;
  height: 530px;
  background-color: inherit;
  z-index: 30;

  .carouselIntroTitle {
    margin-bottom: 16px;
    font-size: 24px;
  }

  .carouselIntroDesc {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 1.6;
    word-break: keep-all;
  }

  .carouselIntroLinkText {
    font-size: 14px;
    margin-right: 8px;
  }
}
