@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.gnbItemContentMenu {
  .gnbItemContentItem {
    margin-bottom: 24px;
    font-size: 18px;

    span {
      position: relative;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        left: 0;
        bottom: -2px;
        background-color: $primary;
        transition: width 350ms ease-in;
      }
    }

    &:hover span::after {
      width: 100%;
    }
  }

  .gnbItemContentMenuTitle {
    font-weight: 700;
  }
}
