@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.gnbItemContent {
  @include flexbox(space-evenly, flex-start);
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  padding: 90px calc(100% / 3 + 40px) 0 170px;
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-in-out;

  &.isClicked {
    opacity: 1;
    visibility: unset;
  }

  .gnbItemContentCover {
    position: absolute;
    width: calc(100vw / 3);
    height: 100vh;
    right: 0;
    top: 0;
    object-fit: cover;
  }
}
