$primary: #333;
$secondary: #252525;
$tertiary: #666;
$background: #fffef2;

$backgroundDark: #ebeade;

$productListHoverLight: #f0efe1;
$productListHoverDark: #e5e4d8;

$border: #d6d5cc;

$mainImage: #8e7055;

$navSkin: #f0efe0;
$navBody: #ebe1d2;
$navHair: #ded8d4;
$navPerfume: #f4ebe3;
$navHome: #f7f1ec;
