.mainReleaseWrapper {
  .mainRelease {
    display: flex;
    width: 100%;
  }

  .mainReleaseContent {
    width: 475px;
    height: 100%;
    padding-right: 80px;
  }

  .mainReleaseImgBox {
    width: 65%;
    padding-right: calc(100% / 15);
  }

  .mainReleaseImg {
    width: 100%;
  }
}
