@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.modalInput {
  width: 448px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 20px;
  background-color: $background;
  border-style: none;
  border-bottom: 1px solid #d6d5cc;

  &.inputLastName,
  &.inputFirstName {
    width: 167px;
    margin-right: 25px;
  }
}

.checkBoxs {
  display: inline-block;
  margin-bottom: 20px;

  .checkBoxText {
    color: #333;
    opacity: 0.5;
  }
}

.isUsers {
  color: #333;
  opacity: 0.7;
  font-size: 15px;
  padding-top: 15px;
}

.backBtn {
  font-size: 18px;
  position: absolute;
  left: 7%;
  top: 5%;
  color: #333;
  opacity: 0.7;
}
