.mainBannerInnerWrapper {
  display: flex;
  flex-direction: column;
  width: 395px;
  color: white;
}

.mainBannerInnerWrapper.black {
  color: black;
}

.InnerWrapperHeader {
  margin-bottom: 20px;
  font-weight: 100;
}

.InnerWrapperHeader.text1 {
  font-size: 14px;
}

.InnerWrapperHeader.text2 {
  font-size: 30px;
}

.innerWrapperParagraph {
  line-height: 1.7;
  margin-bottom: 30px;
}

.InnerLinkWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 60px;
  padding: 0 23px;
  border: 1px solid white;

  &.black {
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      transition: all 250ms ease-in;
    }
  }

  &:hover {
    background-color: white;
    color: black;
    transition: all 250ms ease-in;
  }
}
