@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.page {
  background-color: #f0efe0;

  //info : 제품 사진 + 설명 + 카트추버튼

  .info {
    @include flexbox(flex-start, flex-start);

    // margin-top: 120px;
    padding-top: 120px;

    .infoImgLeft {
      width: 440px;
      height: 447px;
    }

    .infoDetails {
      width: 440px;
      height: 447px;

      .infoImgRight {
        width: 440px;
        height: 447px;
      }

      #explain {
        width: 350px;
        font-size: 14px;
        text-align: center;
        color: $primary;
      }
    }

    .InfoRight {
      @include column-flexbox(flex-start, space-evenly);

      width: 360px;

      .title {
        margin: 5px;
      }
      .infoExplain {
        margin: 10px 0px;
        font-size: 14px;
      }
    }

    .infoHeader {
      margin-bottom: 20px;

      .title {
        margin: 5px;
      }
    }

    .infoName {
      margin-bottom: 20px;
      font-size: 30px;

      .title {
        margin: 5px;
      }
    }

    //productInfo

    .productInfo {
      .infoContent {
        @include column-flexbox(flex-start, flex-start);

        width: 400px;
        margin: 10px 0px;

        .title {
          margin: 5px 0px;
        }
      }
    }

    .btn {
      width: 360px;
      height: 60px;
      margin: 20px 0px;
      background-color: $primary;
      color: $background;
    }
  }

  //aside:  포장,서비스 안내

  .asideList {
    @include flexbox(space-evenly, flex-start);

    padding: 100px 100px;
    width: 100%;

    .asideLeft {
      @include column-flexbox(flex-start, center);

      width: 450px;
      height: 66px;
      font-size: 14px;
    }

    .asideRight {
      @include column-flexbox(flex-start, center);

      width: 480px;
      height: 66px;
      padding-left: 80px;
      font-size: 14px;
      border-left: 1px solid gray;
    }
  }

  //content : 사용법,사용량 등
  .content {
    @include flexbox(flex-start, flex-start);

    width: 100%;

    .contentImg {
      width: 50%;
      height: 780px;
    }

    .contentDirection {
      @include column-flexbox(flex-start);

      width: 50%;
      padding-top: 100px;

      .contentHead {
        @include column-flexbox(flex-start, flex-start);

        width: 400px;
        margin: 10px 0px;

        .title {
          margin: 5px 0px;
        }

        .contetnExplain {
          margin: 20px 0px;
          font-size: 30px;
          color: $secondary;
        }
      }
      // infoTable usageInfo : 사용량, 텍스처, 향
      .usageInfo {
        .usageText {
          @include column-flexbox(flex-start, flex-start);

          width: 400px;
          margin: 10px 0px;

          .title {
            margin: 5px 0px;
          }
        }
      }
    }
  }

  //carousel 함께 제품 추천

  .wrapperCarousel {
    // overflow: hidden;
    .carousel {
      width: 120vw;

      .carouselInner {
        margin: 0px;
        width: 40vw;
        float: left;

        img {
          width: 400px;
          margin: 0px;
        }
      }
    }
  }
}
